EmailApp/obj/
EmailApp/bin/
EmailAppWeb/bin/
EmailAppWeb/obj/
EmailAppWeb/.vscode/
.DS_Store
.vscode/
__blobstorage__/
__queuestorage__/
__azurite*
storageexample/obj/
storageexample/bin/
storageexample/data/
